<section class="intro">
  <div class="container">
    <!-- <p class="lead">About</p> -->

    <img class="author-image" src="{{ '/assets/images/me.jpg' | prepend: site.baseurl | prepend: site.url }}">

    <br>
    <p align="center"><mark>0.1x Programmer <!-- <br>JavaScript, Python, and FOSS Enthusiast. --> </mark></p>
    <br>

    <p>Hi, I’m Rishi, a Computer Science Engineering Student. I’m not sure when I’ll get rid of the “CSE Student” part from my introduction, but I don’t see it happening soon.</p>

    <p>I love <strong>working for a cause</strong>, and I'm passionate about learning and understanding <strong>Web Technologies, Programming languages, Computer Networking, Distributed Systems, Operating System</strong>, and <strong>Open Source Software</strong>. <!-- <strong>I like Computers!</strong> --> </p>

    <p>There is nothing extraordinary about me, but I consider myself an enthusiastic learner. I understand the importance of self-studies, it has taught me a lot, and it's one of the reasons I deeply care about <strong>Quality Education</strong> and the <strong>Indian Education System</strong>.</p>

    <p>Apart from the tech part, I love exploring topics related to <strong>Social Issues, Philosophy, Politics, Religion</strong>, and I'm genuinely interested in <strong>Neuroscience and Psychology</strong>. I'm not a reader or writer, but I try to read or write from time to time. I do have a <a href="/blog">blog.</a> </p>

    <p>Feel free to drop me a mail at ~ <b><a href="mailto:rushforlinux@gmail.com" rel="me">rushforlinux@gmail</a></b></p>

    <p>My Public Key is ~ <b><a href="https://keybase.io/rishigiri">332F 38BC 7849 158A</a></b></p>

    <p>You can find me on ~
                <b><a href="https://github.com/CodeDotJS">&nbsp;GitHub</a>,
                <!-- <a href="https://npmjs.com/~rishi">&nbsp;npm</a>, -->
                <a href="https://instagram.com/iama_rishi">&nbsp;Instagram</a>,
                <a href="https://twitter.com/Rishi_Giri_">&nbsp;Twitter</a>,
                <a href="https://medium.com/@JSrishi">&nbsp;Medium</a>,
                <a href="https://rishicodes.wordpress.com">Wordpress</a>
                <a href="https://facebook.com/RishiDotJS">&nbsp;Facebook</a>, and
                <a href="https://quora.com/Rishi-Giri-1">&nbsp;Quora</a>.
                <!-- <a href="https://plus.google.com/u/0/+RishiGiri-Scripted">&nbsp;Google+</a> -->
            </p>
            <p>
    <p>Last but not least, I admire Aaron Swartz and Dr APJ Abdul Kalam. They both have been a huge inspiration for me, and still are.</p>
  </div>
</section>
