<h2>About Me</h2>

Work in Progress!

<hr>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://github.com/CodeDotJS"><span class="fa fa-github fa-sm main-list-item-icon"></span></a>
    <a href="https://twitter.com/Rishi_Giri_"><span class="fa fa-twitter fa-sm main-list-item-icon"></span></a>
    <a href="https://www.linkedin.com/in/rishidotjs"><span class="fa fa-linkedin fa-sm main-list-item-icon"></span></a>
    <a href="https://instagram.com/iama_rishi"><span class="fa fa-instagram fa-sm main-list-item-icon"></span></a>
    <a href="https://facebook.com/RishiDotJS"><span class="fa fa-facebook fa-sm main-list-item-icon"></span></a>
    <a href="https://rishicodes.wordpress.com"><span class="fa fa-wordpress fa-sm main-list-item-icon"></span></a>
    <a href="https://open.spotify.com/user/12ti9jr3haa5n8ni51xvatogw"><span class="fa fa-spotify fa-sm main-list-item-icon"></span></a>
    <a href="https://medium.com/@JSrishi"><span class="fa fa-flag fa-sm main-list-item-icon"></span></a>
    <a href="mailto:rushforlinux@gmail.com"> <span class="fa fa-envelope fa-sm main-list-item-icon"></span></a>
  </li>

</ul>
