<h2>About Me</h2>

<b> I write code, take pictures, think thoughts, and make doodles! </b>

<hr>

<p>Hi, I’m Rishi. I move slowly and build things. One of the reasons I like building tools is that they were once just an idea in my head when I was diving deep into the void (getting bored), and it’s refreshing to see those ideas taking form.</p>

<p>There is nothing extraordinary about me, but I consider myself to be an enthusiastic learner. I am mostly driven by curiosity, deadlines, and a bit of stress. Sometimes, the factor can also be an unhealthy obsession to see the result or the fear of procrastination. On a bad day, I get to experience everything, all at once.</p>

<p>I have a strong passion for working towards a purpose, and I find reasonable joy in exploring the vast world of technology. My interests lie in web technologies, a tiny portion of cybersecurity, operating systems, low-level engineering, and open-source software. I’m a big fan of building automation tools and scrapping useless data from the internet. It’s fun!</p>

<p>Beside technology, I have a keen interest in various subjects, including History, Philosophy, Politics, Religion, Neuroscience and Psychology. I find it sort of rewarding to explore and gain insights into these topics, as they offer a different perspective on the world around me. I hold expertise on none, but I approach these subjects with an open mind and a desire to learn and understand more without any preconceived notions or biases.</p>

<p>I don’t consider myself an avid reader or writer, but I do make an effort to read and write from time to time. Writing is the only way I can truly express myself, and I read because I like the idea of having something read. I have a blog where I share my thoughts and feelings, and a wiki (not public yet) which captures a good portion of my life.</p>

<p>I admire Aaron Swartz. He’s been a great inspiration to me for a long time.</p>


<blockquote>“Be curious. Read widely. Try new things. What people call intelligence just boils down to curiosity.” ― Aaron Swartz</blockquote>


<small><center><mark>PUBLIC KEY : <a href="https://keybase.io/rishigiri">332F 38BC 7849 158A</a></mark></center></small>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <a href="https://github.com/CodeDotJS"><span class="fa fa-github fa-sm main-list-item-icon"></span></a>
    <a href="https://twitter.com/Rishi_Giri_"><span class="fa fa-twitter fa-sm main-list-item-icon"></span></a>
    <a href="https://www.linkedin.com/in/rishidotjs"><span class="fa fa-linkedin fa-sm main-list-item-icon"></span></a>
    <a href="https://instagram.com/iama_rishi"><span class="fa fa-instagram fa-sm main-list-item-icon"></span></a>
    <a href="https://facebook.com/RishiDotJS"><span class="fa fa-facebook fa-sm main-list-item-icon"></span></a>
    <a href="https://rishicodes.wordpress.com"><span class="fa fa-wordpress fa-sm main-list-item-icon"></span></a>
    <a href="https://open.spotify.com/user/12ti9jr3haa5n8ni51xvatogw"><span class="fa fa-spotify fa-sm main-list-item-icon"></span></a>
    <a href="https://medium.com/@JSrishi"><span class="fa fa-flag fa-sm main-list-item-icon"></span></a>
    <a href="mailto:rushforlinux@gmail.com"> <span class="fa fa-envelope fa-sm main-list-item-icon"></span></a>
  </li>

</ul>

<hr>
<br>
<center><b><mark>Other pages of this site will be published soon!</mark></b></center>
<br>
<hr>
