<section class="intro">
  <div class="container">
    <!-- <p class="lead">About</p> -->

    <img class="author-image" src="{{ '/assets/images/me.jpg' | prepend: site.baseurl | prepend: site.url }}">

    <br>

    <p>Hi, My name is <strong>Rishi</strong>, and I love everything about Computer Science. Although I don’t go to any college, I don’ think it prevents me from calling myself an Engineering Student. In another way, I’m a dropout, but to be honest, I’m not.</p>
<br>
<p>I love working for a cause, and I’m really passionate about the <strong>Web Technologies</strong>, <strong>Actual Computer Science</strong>, and <strong>Open Source Softwares</strong>.Also, there is nothing extremely special about me, but I’m an enthusiastic learner.<strong><mark>I <strong>deeply</strong> care about the Education System and Quality Education.</mark></strong></p>
<br>
<p>I write things and take notes related to my studies on <a href="https://riblog.ml">Riblog</a>.</p>
<br>
<p>There are lots of languages which I’ve used in the past, but I mostly like to work with <strong>JavaScript</strong> and <strong>Python</strong>. These are my favorites.</p>
<br>
<p>Apart from the tech part, I love exploring things related to the <strong>Social Issues</strong>, <strong>Philosophy</strong>, <strong>Politics</strong>, <strong>Religion</strong>, and <strong>Psychology</strong>.</p>
<br>
<p>Feel free to drop me a mail at ~ <b><a href="mailto:rushforlinux@gmail.com" rel="me">rushforlinux@gmail.com</a></b></p>
<br>
<p>My Public Key is ~ <b><a href="https://keybase.io/rishigiri">332F 38BC 7849 158A</a></b></p>
<br>
<p>You can find me on ~
                <b><a href="https://github.com/CodeDotJS">&nbsp;Github</a>,
                <a href="https://npmjs.com/~rishi">&nbsp;npm</a>,
                <a href="https://instagram.com/iama_rishi">&nbsp;Instagram</a>,
                <a href="https://twitter.com/Rishi_Giri_">&nbsp;Twitter</a>,
                <a href="https://medium.com/@JSrishi">&nbsp;Medium</a>,
                <a href="https://rishicodes.wordpress.com">Wordpress</a>
                <a href="https://facebook.com/RishiDotJS">&nbsp;Facebook</a>,
                <a href="https://quora.com/Rishi-Giri-1">&nbsp;Quora</a>,</b> and
                <b><a href="https://plus.google.com/u/0/+RishiGiri-Scripted">&nbsp;Google+</a></b>
            </p>
            <p>
<br>
<p>Last but not least, <strong>I admire Aaron Swartz</strong>. He is my idol.</p>
  </div>
</section>
