<section class="intro">
  <div class="container">
    <!-- <p class="lead">About</p> -->

    <img class="author-image" src="{{ '/assets/images/me.jpg' | prepend: site.baseurl | prepend: site.url }}">

    <br>
    <p align="center"><mark>0.1x Programmer <!-- <br>JavaScript, Python, and FOSS Enthusiast. --> </mark></p>
    <br>

    <p>I'm <strong>Rishi</strong>, a Computer Science Student and Programmer. Technically, I should have been in an Engineering College, but I'm not, and that's why I study everything related to CS from the Internet.</p>
<br>
<p>I love <strong>working for a cause</strong>, and I'm passionate about <strong>Web Technologies, Programming languages, Mathematics, Computer Networking, and Open Source Software</strong>. There is nothing extremely special about me, but I consider myself as an enthusiastic learner. Self-studying has taught me the importance of right knowledge, and it's one of the reasons why I deeply care about <strong>Quality Education and the Education System</strong>.</p>

<br>
<p>JavaScript is a language that I mostly work with, but I'm fascinated by Rust, so I'm trying to learn it as well!</p>
<br>
<p>Apart from the tech part, I love exploring things related to <strong>Social Issues</strong>, <strong>Philosophy</strong>, <strong>Politics</strong>, <strong>Religion</strong>, and <strong>Psychology</strong>.</p>
<br>
<p>Feel free to drop me a mail at ~ <b><a href="mailto:rushforlinux@gmail.com" rel="me">rushforlinux@gmail.com</a></b></p>
<br>
<p>My Public Key is ~ <b><a href="https://keybase.io/rishigiri">332F 38BC 7849 158A</a></b></p>
<br>
<p>You can find me on ~
                <b><a href="https://github.com/CodeDotJS">&nbsp;Github</a>,
                <a href="https://npmjs.com/~rishi">&nbsp;npm</a>,
                <a href="https://instagram.com/iama_rishi">&nbsp;Instagram</a>,
                <a href="https://twitter.com/Rishi_Giri_">&nbsp;Twitter</a>,
                <a href="https://medium.com/@JSrishi">&nbsp;Medium</a>,
                <a href="https://rishicodes.wordpress.com">Wordpress</a>
                <a href="https://facebook.com/RishiDotJS">&nbsp;Facebook</a>,
                <a href="https://quora.com/Rishi-Giri-1">&nbsp;Quora</a>,</b> and
                <b><a href="https://plus.google.com/u/0/+RishiGiri-Scripted">&nbsp;Google+</a></b>
            </p>
            <p>
<br>
<p>Last but not least, <strong>I admire Aaron Swartz</strong>. He is my idol.</p>
  </div>
</section>
