<section class="intro">
  <div class="container">
    <!-- <p class="lead">About</p> -->

    <img class="author-image" src="{{ '/assets/images/me.jpg' | prepend: site.baseurl | prepend: site.url }}">

    <br>
    <p align="center"><mark>0.1x Programmer <!-- <br>JavaScript, Python, and FOSS Enthusiast. --> </mark></p>
    <br>

    <p>I'm <strong>Rishi</strong>, a Computer Science Engineering Student. Technically, I should have been pursuing B.Tech, but I'm not, so, apart from the books, I rely heavily on the Internet for my studies related to computer science. I think it's fair to give myself a tag of CSE student. I'll soon graduate without a technical degree.</p>

    <p>A trivial twist is that I'm doing my <strong>Bachelor's in Psychology and English</strong> alongside from an Open University. It's not even closely related to what I do, but it's a part of my life now. I find Behavioral Psychology genuinely fascinating, even though I'm unable to invest much of my time focusing on it as I spend most of my time sitting before the computer doing computer thingy.</p>
    
    <p>I love <strong>working for a cause</strong>, and I'm passionate about learning and understanding Web Technologies, Programming languages, Computer Networking, Distributed Systems, Operating System, and Open Source Software. <strong>I like Computers!</strong></p>

    <p>There is nothing extraordinary about me, but I consider myself an enthusiastic learner. I understand the importance of self-studies, it has taught me a lot, and it's one of the reasons I deeply care about <strong>Quality Education</strong> and the <strong>Indian Education System</strong>.</p>
    
    <p>Apart from the tech part, I love exploring topics related to <strong>Social Issues, Philosophy, Politics, Religion</strong>, and of course, <strong>Psychology</strong>. I'm not a reader or writer, but I try to read or write from time to time. I do have a <a href="/blog">blog.</a> </p>
    
    <p>Feel free to drop me a mail at ~ <b><a href="mailto:rushforlinux@gmail.com" rel="me">rushforlinux@gmail</a></b></p>
    
    <p>My Public Key is ~ <b><a href="https://keybase.io/rishigiri">332F 38BC 7849 158A</a></b></p>
    
    <p>You can find me on ~
                <b><a href="https://github.com/CodeDotJS">&nbsp;GitHub</a>,
                <!-- <a href="https://npmjs.com/~rishi">&nbsp;npm</a>, -->
                <a href="https://instagram.com/iama_rishi">&nbsp;Instagram</a>,
                <a href="https://twitter.com/Rishi_Giri_">&nbsp;Twitter</a>,
                <a href="https://medium.com/@JSrishi">&nbsp;Medium</a>,
                <a href="https://rishicodes.wordpress.com">Wordpress</a>
                <a href="https://facebook.com/RishiDotJS">&nbsp;Facebook</a>, and
                <a href="https://quora.com/Rishi-Giri-1">&nbsp;Quora</a>.
                <!-- <a href="https://plus.google.com/u/0/+RishiGiri-Scripted">&nbsp;Google+</a> -->
            </p>
            <p>
    <p>Last but not least, I admire Aaron Swartz. He's been a huge inspiration for me, still is.</p>
  </div>
</section>
