<h2>All About Me!</h2>
<p>JavaScript, Python, and FOSS Enthusiast. Open Source Addict.</p>

<h2>Passionate about -</h2>
<ul>
  <li>Quality Education</li>
  <li>Mathematics & Computer Security</li>
  <li>GNU/Linux</li>
  <li>Web Technologies</li>
</ul>

<p><b>I love working for a cause.</b></p>

<p> <a href="https://riblog.ml"><b>⚡️ riblog</b></a> is a place where I write for myself!</p>

<p> You can check the archive <a href="archive/"><b>here</b></a>.</p>
<hr />

<a href="https://github.com/CodeDotJS" title="GitHub"><span class="fa fa-github fa-lg main-list-item-icon"></span></a>
<a href="https://twitter.com/Rishi_Giri_" title="Twitter"><span class="fa fa-twitter fa-lg main-list-item-icon"></span></a>
<a href="https://instagram.com/iama_rishi" title="Instagram"><span class="fa fa-instagram fa-lg main-list-item-icon"></span></a>
<a href="https://rishicodes.wordpress.com" title="Wordpress"><span class="fa fa-wordpress fa-lg main-list-item-icon"></span></a>
<a href="mailto:rushforlinux@gmail.com" title="Email"><span class="fa fa-envelope fa-lg main-list-item-icon"></span></a>
