<!doctype html>
<html>

<head>
    <title>Rishi Giri - Blog</title>
    <meta charset="utf-8">
    <meta name="author" content="Rishi Giri">
    <meta name="keywords" content="Rishi, Rishi Giri, Rishi, dotjs, iama_rishi, Rishi Giri dotjs, CodeDotJS, Unicorn, JavaScript, Python, Node, Web Development, Web Design, Quora, Github, JavaScript - Python and FOSS Enthusiast, codedotjs." />
    <meta name="description" content="Web Developer, JavaScript, Python & FOSS Enthusiast." />
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/web-place/rishigiri.in/gh-pages/rishi.png" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="../../assets/stylesheets/styles.css">
    <link rel="stylesheet" href="../../assets/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>Rishi Giri</h1>
            <p>JavaScript, Python, and FOSS Enthusiast. Open Source Addict.</p>
            <!-- <p class="view"><a href=""><small></small></a></p> -->
            <ul>
                <li><a href="../../index.html"><strong>HOME</strong></a></li>
                <li><a href="../../blog/index.html"><strong>BLOG</strong></a></li>
                <li><a href="../../projects/index.html"><strong>PROJECTS</strong></a></li>
            </ul>
            <h1 align="center"><b><code>࿊</code></b></h1>
        </header>
        <section>
            <h1>Title</h1>
            <p> <code> <small>Day of Month, Year</small> </code></p>
        </section>
        <footer>
            <p>Copyright &copy; 2018 <a href="https://rishi.ml">Rishi Giri</a></p>
        </footer>
    </div>
    <script src="../../assets/javascripts/scale.fix.js "></script>
</body>
</html>
